<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Pandas_learnings_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

### Creating a Pandas series

In [4]:
a = np.array([1,2,3,4,5])
s = pd.Series(a)
type(s)

pandas.core.series.Series

### Length of series

In [5]:
len(s)

5

### Series Indexing

In [6]:
dict_data = {1:['value1','value2'],2:['value1','value2'],3:['value1','value2']}
s = pd.Series(dict_data) # Dict keys are converting in to pandas index
s

1    [value1, value2]
2    [value1, value2]
3    [value1, value2]
dtype: object

In [7]:
s1 = pd.Series(dict_data,index=[3,2,1])  # Ordering gets changed using index
s1

3    [value1, value2]
2    [value1, value2]
1    [value1, value2]
dtype: object

### Series - Slicing

In [8]:
print(s[:3])
print(s[:2])

1    [value1, value2]
2    [value1, value2]
3    [value1, value2]
dtype: object
1    [value1, value2]
2    [value1, value2]
dtype: object

### Creating a empty Dataframe

In [9]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
list_1 = np.arange(0,6)
pd.DataFrame(list_1)

   0
0  0
1  1
2  2
3  3
4  4
5  5

In [11]:
list_2 = [['A','1','10'],['B','2','20'],['C','3','40']]

df = pd.DataFrame(list_2,columns = ['name','sno','age'])
df

  name sno age
0    A   1  10
1    B   2  20
2    C   3  40

In [12]:
dict_1 = {'sno':[1,2,3],'age':[10,20,33],'salary':[1000,200,300]}
df = pd.DataFrame(dict_1)
df

   sno  age  salary
0    1   10    1000
1    2   20     200
2    3   33     300

### Selection

In [13]:
sel_cols = ['sno','age']
df[sel_cols]

   sno  age
0    1   10
1    2   20
2    3   33

### Renaming a column

In [14]:
df.rename(columns={'sno':'SERIAL_NO'})

   SERIAL_NO  age  salary
0          1   10    1000
1          2   20     200
2          3   33     300

### Projection

In [15]:
#df[[0],['age']]
df.iloc[0:3,0:2]

   sno  age
0    1   10
1    2   20
2    3   33

### loc()

In [16]:
df.loc[:,['sno','age']]

   sno  age
0    1   10
1    2   20
2    3   33

In [17]:
df

   sno  age  salary
0    1   10    1000
1    2   20     200
2    3   33     300

In [18]:
df['new_col'] = pd.Series(np.arange(3))
df

   sno  age  salary  new_col
0    1   10    1000        0
1    2   20     200        1
2    3   33     300        2

### Performing calculation on columns and creating new columns

In [19]:
df['new_col_2'] = df['new_col'] + df['age']
df

   sno  age  salary  new_col  new_col_2
0    1   10    1000        0         10
1    2   20     200        1         21
2    3   33     300        2         35

### Deleting a column

In [20]:
del df['new_col_2']

In [21]:
df

   sno  age  salary  new_col
0    1   10    1000        0
1    2   20     200        1
2    3   33     300        2

In [22]:
df.drop(['new_col','salary'],axis=1,inplace = True)
df

   sno  age
0    1   10
1    2   20
2    3   33

In [23]:
df.drop([2],axis=0,inplace = True)
df

   sno  age
0    1   10
1    2   20

In [24]:
dict2 = {'state': ['Tamilnadu','telangana','karanataka','goa'], 
        'city': ['Chennai','Hyderabad','Banglore','panaji'], 
         'const': [10,20,30,40], 
         'No_of_school': [100,200,300,105]}
df = pd.DataFrame(dict2)

df['No_of_libr'] = pd.Series([15,23,21,14])

df

        state       city  const  No_of_school  No_of_libr
0   Tamilnadu    Chennai     10           100          15
1   telangana  Hyderabad     20           200          23
2  karanataka   Banglore     30           300          21
3         goa     panaji     40           105          14

### Appending 2 Dataframes

In [25]:
df3 = pd.DataFrame([[10,20],[20,40]],columns=['a','b'])
df4 = pd.DataFrame([[-10,-20],[-20,-40]],columns=['a','b'])
df5 = df3.append(df4)
df5

    a   b
0  10  20
1  20  40
0 -10 -20
1 -20 -40

### rest_index()
While appending index will not get updated directly , use rest_index() to achieve it

In [26]:
from pandas.core.missing import interpolate_2d
df1 = df
df5 = df.append(df1).reset_index(drop = False)
print(df5)
df6 = df.append(df1).reset_index(drop = True)
print(df6)

   index       state       city  const  No_of_school  No_of_libr
0      0   Tamilnadu    Chennai     10           100          15
1      1   telangana  Hyderabad     20           200          23
2      2  karanataka   Banglore     30           300          21
3      3         goa     panaji     40           105          14
4      0   Tamilnadu    Chennai     10           100          15
5      1   telangana  Hyderabad     20           200          23
6      2  karanataka   Banglore     30           300          21
7      3         goa     panaji     40           105          14
        state       city  const  No_of_school  No_of_libr
0   Tamilnadu    Chennai     10           100          15
1   telangana  Hyderabad     20           200          23
2  karanataka   Banglore     30           300          21
3         goa     panaji     40           105          14
4   Tamilnadu    Chennai     10           100          15
5   telangana  Hyderabad     20           200          23
6  karanataka   Banglore     30           300          21
7         goa     panaji     40           105          14

In [27]:
Markscard= {'Name': ['Sreenath','Pradeep','Arun'],'Science': [50,60,70],'Maths':[70,60,70],'Language': [50,60,80]}
df22= pd.DataFrame(Markscard)
df22['School']=pd.Series(['KV','TCIS','DPS'])

df22

       Name  Science  Maths  Language School
0  Sreenath       50     70        50     KV
1   Pradeep       60     60        60   TCIS
2      Arun       70     70        80    DPS

In [28]:
dict3={'Age':[25,26,24,32,30,29,35],
       'Name':[np.nan,'James','Ricky','Vin','Steve','Smith','Jack'],
      'Rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
data= pd.DataFrame(dict3)
data

   Age   Name  Rating
0   25    NaN    4.23
1   26  James    3.24
2   24  Ricky    3.98
3   32    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   35   Jack    3.80

In [29]:
data.head() # Returns first 5 rows
data.tail() # Returns last 5 rows
data.T # Returns Transpose of dataframe
data.axes # Returns infor on rows and cols

[RangeIndex(start=0, stop=7, step=1),
 Index(['Age', 'Name', 'Rating'], dtype='object')]

In [30]:
data.dtypes

Age         int64
Name       object
Rating    float64
dtype: object

In [31]:
data.shape

(7, 3)

In [32]:
data.ndim

2

In [33]:
data.sum() # Returns sum of all cols

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age       201.00
Rating     25.61
dtype: float64

In [34]:
data[['Age','Rating']].mean()

Age       28.714286
Rating     3.658571
dtype: float64

In [35]:
data[['Age','Rating']].mean()

Age       28.714286
Rating     3.658571
dtype: float64

In [36]:
data[['Age']].mode() # Most repeated values

   Age
0   24
1   25
2   26
3   29
4   30
5   32
6   35

In [37]:
data.count()

Age       7
Name      6
Rating    7
dtype: int64

In [38]:
data.mode()

   Age   Name  Rating
0   24   Jack    2.56
1   25  James    3.20
2   26  Ricky    3.24
3   29  Smith    3.80
4   30  Steve    3.98
5   32    Vin    4.23
6   35    NaN    4.60

In [39]:
data['Age'].min()

24

In [40]:
data['Age'].max()

35

In [41]:
data.describe()

             Age    Rating
count   7.000000  7.000000
mean   28.714286  3.658571
std     3.988077  0.698628
min    24.000000  2.560000
25%    25.500000  3.220000
50%    29.000000  3.800000
75%    31.000000  4.105000
max    35.000000  4.600000

In [46]:
dict = {'col1':[10,20,30,40,50],'col2':[1,2,3,4,5],'col3':[11,12,13,14,15]}

In [47]:
data1 = pd.DataFrame(dict)
data1

   col1  col2  col3
0    10     1    11
1    20     2    12
2    30     3    13
3    40     4    14
4    50     5    15

### apply() on dataframe

In [51]:
data1.apply(np.mean,axis = 1)
data1.apply(np.mean,axis = 0)

col1    30.0
col2     3.0
col3    13.0
dtype: float64

In [49]:
data1.apply(lambda x:x.max() - x.min())

col1    40
col2     4
col3     4
dtype: int64