<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Pandas_learnings_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [320]:
import pandas as pd
import numpy as np

### Creating a Pandas series

In [321]:
a = np.array([1,2,3,4,5])
s = pd.Series(a)
type(s)

pandas.core.series.Series

### Length of series

In [322]:
len(s)

5

### Series Indexing

In [323]:
dict_data = {1:['value1','value2'],2:['value1','value2'],3:['value1','value2']}
s = pd.Series(dict_data) # Dict keys are converting in to pandas index
s

1    [value1, value2]
2    [value1, value2]
3    [value1, value2]
dtype: object

In [324]:
s1 = pd.Series(dict_data,index=[3,2,1])  # Ordering gets changed using index
s1

3    [value1, value2]
2    [value1, value2]
1    [value1, value2]
dtype: object

### Series - Slicing

In [325]:
print(s[:3])
print(s[:2])

1    [value1, value2]
2    [value1, value2]
3    [value1, value2]
dtype: object
1    [value1, value2]
2    [value1, value2]
dtype: object

### Creating a empty Dataframe

In [326]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [327]:
list_1 = np.arange(0,6)
pd.DataFrame(list_1)

   0
0  0
1  1
2  2
3  3
4  4
5  5

In [328]:
list_2 = [['A','1','10'],['B','2','20'],['C','3','40']]

df = pd.DataFrame(list_2,columns = ['name','sno','age'])
df

  name sno age
0    A   1  10
1    B   2  20
2    C   3  40

In [329]:
dict_1 = {'sno':[1,2,3],'age':[10,20,33],'salary':[1000,200,300]}
df = pd.DataFrame(dict_1)
df

   sno  age  salary
0    1   10    1000
1    2   20     200
2    3   33     300

### Selection

In [330]:
sel_cols = ['sno','age']
df[sel_cols]

   sno  age
0    1   10
1    2   20
2    3   33

### Renaming a column

In [331]:
df.rename(columns={'sno':'SERIAL_NO'})

   SERIAL_NO  age  salary
0          1   10    1000
1          2   20     200
2          3   33     300

### Projection

In [332]:
#df[[0],['age']]
df.iloc[0:3,0:2]

   sno  age
0    1   10
1    2   20
2    3   33

### loc()

In [333]:
df.loc[:,['sno','age']]

   sno  age
0    1   10
1    2   20
2    3   33

In [334]:
df

   sno  age  salary
0    1   10    1000
1    2   20     200
2    3   33     300

In [335]:
df['new_col'] = pd.Series(np.arange(3))
df

   sno  age  salary  new_col
0    1   10    1000        0
1    2   20     200        1
2    3   33     300        2

### Performing calculation on columns and creating new columns

In [336]:
df['new_col_2'] = df['new_col'] + df['age']
df

   sno  age  salary  new_col  new_col_2
0    1   10    1000        0         10
1    2   20     200        1         21
2    3   33     300        2         35

### Deleting a column

In [337]:
del df['new_col_2']

In [338]:
df

   sno  age  salary  new_col
0    1   10    1000        0
1    2   20     200        1
2    3   33     300        2

In [339]:
df.drop(['new_col','salary'],axis=1,inplace = True)
df

   sno  age
0    1   10
1    2   20
2    3   33

In [340]:
df.drop([2],axis=0,inplace = True)
df

   sno  age
0    1   10
1    2   20

In [341]:
dict2 = {'state': ['Tamilnadu','telangana','karanataka','goa'], 
        'city': ['Chennai','Hyderabad','Banglore','panaji'], 
         'const': [10,20,30,40], 
         'No_of_school': [100,200,300,105]}
df = pd.DataFrame(dict2)

df['No_of_libr'] = pd.Series([15,23,21,14])

df

        state       city  const  No_of_school  No_of_libr
0   Tamilnadu    Chennai     10           100          15
1   telangana  Hyderabad     20           200          23
2  karanataka   Banglore     30           300          21
3         goa     panaji     40           105          14

### Appending 2 Dataframes

In [342]:
df3 = pd.DataFrame([[10,20],[20,40]],columns=['a','b'])
df4 = pd.DataFrame([[-10,-20],[-20,-40]],columns=['a','b'])
df5 = df3.append(df4)
df5

    a   b
0  10  20
1  20  40
0 -10 -20
1 -20 -40

### rest_index()
While appending index will not get updated directly , use rest_index() to achieve it

In [343]:
from pandas.core.missing import interpolate_2d
df1 = df
df5 = df.append(df1).reset_index(drop = False)
print(df5)
df6 = df.append(df1).reset_index(drop = True)
print(df6)

   index       state       city  const  No_of_school  No_of_libr
0      0   Tamilnadu    Chennai     10           100          15
1      1   telangana  Hyderabad     20           200          23
2      2  karanataka   Banglore     30           300          21
3      3         goa     panaji     40           105          14
4      0   Tamilnadu    Chennai     10           100          15
5      1   telangana  Hyderabad     20           200          23
6      2  karanataka   Banglore     30           300          21
7      3         goa     panaji     40           105          14
        state       city  const  No_of_school  No_of_libr
0   Tamilnadu    Chennai     10           100          15
1   telangana  Hyderabad     20           200          23
2  karanataka   Banglore     30           300          21
3         goa     panaji     40           105          14
4   Tamilnadu    Chennai     10           100          15
5   telangana  Hyderabad     20           200          23
6  karanataka   Banglore     30           300          21
7         goa     panaji     40           105          14

In [344]:
Markscard= {'Name': ['Sreenath','Pradeep','Arun'],'Science': [50,60,70],'Maths':[70,60,70],'Language': [50,60,80]}
df22= pd.DataFrame(Markscard)
df22['School']=pd.Series(['KV','TCIS','DPS'])

df22

       Name  Science  Maths  Language School
0  Sreenath       50     70        50     KV
1   Pradeep       60     60        60   TCIS
2      Arun       70     70        80    DPS

In [345]:
dict3={'Age':[25,26,24,32,30,29,35],
       'Name':[np.nan,'James','Ricky','Vin','Steve','Smith','Jack'],
      'Rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
data= pd.DataFrame(dict3)
data

   Age   Name  Rating
0   25    NaN    4.23
1   26  James    3.24
2   24  Ricky    3.98
3   32    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   35   Jack    3.80

In [346]:
data.head() # Returns first 5 rows
data.tail() # Returns last 5 rows
data.T # Returns Transpose of dataframe
data.axes # Returns infor on rows and cols

[RangeIndex(start=0, stop=7, step=1),
 Index(['Age', 'Name', 'Rating'], dtype='object')]

In [347]:
data.dtypes

Age         int64
Name       object
Rating    float64
dtype: object

In [348]:
data.shape

(7, 3)

In [349]:
data.ndim

2

In [350]:
data.sum() # Returns sum of all cols

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age       201.00
Rating     25.61
dtype: float64

In [351]:
data[['Age','Rating']].mean()

Age       28.714286
Rating     3.658571
dtype: float64

In [352]:
data[['Age','Rating']].mean()

Age       28.714286
Rating     3.658571
dtype: float64

In [353]:
data[['Age']].mode() # Most repeated values

   Age
0   24
1   25
2   26
3   29
4   30
5   32
6   35

In [354]:
data.count()

Age       7
Name      6
Rating    7
dtype: int64

In [355]:
data.mode()

   Age   Name  Rating
0   24   Jack    2.56
1   25  James    3.20
2   26  Ricky    3.24
3   29  Smith    3.80
4   30  Steve    3.98
5   32    Vin    4.23
6   35    NaN    4.60

In [356]:
data['Age'].min()

24

In [357]:
data['Age'].max()

35

In [358]:
data.describe()

             Age    Rating
count   7.000000  7.000000
mean   28.714286  3.658571
std     3.988077  0.698628
min    24.000000  2.560000
25%    25.500000  3.220000
50%    29.000000  3.800000
75%    31.000000  4.105000
max    35.000000  4.600000

In [359]:
dict = {'col1':[10,20,30,40,50],'col2':[1,2,3,4,5],'col3':[11,12,13,14,15]}

In [360]:
data1 = pd.DataFrame(dict)
data1

   col1  col2  col3
0    10     1    11
1    20     2    12
2    30     3    13
3    40     4    14
4    50     5    15

### apply() on dataframe

In [361]:
data1.apply(np.mean,axis = 1)
data1.apply(np.mean,axis = 0)

col1    30.0
col2     3.0
col3    13.0
dtype: float64

In [362]:
data1.apply(lambda x:x.max() - x.min())

col1    40
col2     4
col3     4
dtype: int64

### Generating random numbers

In [363]:
data = pd.DataFrame(np.random.randn(5,2), index=[1,3,5,7,9] ,columns = ['column1','column2'])

#### Sorting dataframe based on index

In [364]:
data.sort_index(ascending=False,inplace=True)

In [365]:
data.sort_index(ascending=False,inplace=True,axis=1)
data

    column2   column1
9  0.371080  0.390675
7  0.278607  0.127517
5  0.577563 -1.078435
3 -1.542713  0.058157
1 -0.366588  0.602568

### Sorting values of Dataframe

In [366]:
data.sort_values(by = 'column2',ascending=False,inplace=True)
data

    column2   column1
5  0.577563 -1.078435
9  0.371080  0.390675
7  0.278607  0.127517
1 -0.366588  0.602568
3 -1.542713  0.058157

### loc()

In [367]:
dict3={'Age':[25,26,24,32,30,29,35],
       'Name':[np.nan,'James','Ricky','Vin','Steve','Smith','Jack'],
      'Rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
data= pd.DataFrame(dict3)

In [368]:
data.loc[0:5,:]
data.loc[0:5,['Age','Name','Rating']]

   Age   Name  Rating
0   25    NaN    4.23
1   26  James    3.24
2   24  Ricky    3.98
3   32    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60

### Change index

In [369]:
data.index = ['a','b','c','d','e','f','g']
data

   Age   Name  Rating
a   25    NaN    4.23
b   26  James    3.24
c   24  Ricky    3.98
d   32    Vin    2.56
e   30  Steve    3.20
f   29  Smith    4.60
g   35   Jack    3.80

In [370]:
data.take([0,1,2])

   Age   Name  Rating
a   25    NaN    4.23
b   26  James    3.24
c   24  Ricky    3.98

In [371]:
data.loc['a':'e',['Age','Name']]

   Age   Name
a   25    NaN
b   26  James
c   24  Ricky
d   32    Vin
e   30  Steve

iloc () == Index location

In [372]:
data.iloc[:4,:2] # .iloc requires numeric index

   Age   Name
a   25    NaN
b   26  James
c   24  Ricky
d   32    Vin

### Handling missing data

In [373]:
data = pd.DataFrame(np.random.randn(5,3), index=['a','e','b','d','h'] ,columns = ['one','two','three'])
data

        one       two     three
a  0.787849  0.766147 -0.676354
e  0.582103 -0.326373 -0.306586
b -0.552793  0.569657 -0.179884
d  1.387043 -0.933438 -1.533153
h -0.595388 -0.402196 -1.407933

In [374]:
data = data.reindex(['a','b','c','d','e','f'])
data

        one       two     three
a  0.787849  0.766147 -0.676354
b -0.552793  0.569657 -0.179884
c       NaN       NaN       NaN
d  1.387043 -0.933438 -1.533153
e  0.582103 -0.326373 -0.306586
f       NaN       NaN       NaN

### Count of null values

In [375]:
data['two'].isnull().sum()

2

### Filtering null values

In [376]:
data[data['two'].notnull()]

        one       two     three
a  0.787849  0.766147 -0.676354
b -0.552793  0.569657 -0.179884
d  1.387043 -0.933438 -1.533153
e  0.582103 -0.326373 -0.306586

### Filling missing data

In [377]:
data.fillna(0,inplace = True)
data

        one       two     three
a  0.787849  0.766147 -0.676354
b -0.552793  0.569657 -0.179884
c  0.000000  0.000000  0.000000
d  1.387043 -0.933438 -1.533153
e  0.582103 -0.326373 -0.306586
f  0.000000  0.000000  0.000000

In [378]:
data.loc[0:1,] = pd.Series({'one':np.nan,'two':np.nan,'three':np.nan})
data

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:719: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  indexer = self._get_setitem_indexer(key)

        one       two     three
a       NaN       NaN       NaN
b -0.552793  0.569657 -0.179884
c  0.000000  0.000000  0.000000
d  1.387043 -0.933438 -1.533153
e  0.582103 -0.326373 -0.306586
f  0.000000  0.000000  0.000000

### Aggregation

In [379]:
dict3={'Age':[25,26,24,32,30,29,35],
       'Name':['Tom','James','Ricky','Vin','Steve','Smith','Jack'],
      'Rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
data= pd.DataFrame(dict3)
data

   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   24  Ricky    3.98
3   32    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   35   Jack    3.80

In [380]:
data['Score'] = [100,20,50,40,90,30,70]

In [381]:
data

   Age   Name  Rating  Score
0   25    Tom    4.23    100
1   26  James    3.24     20
2   24  Ricky    3.98     50
3   32    Vin    2.56     40
4   30  Steve    3.20     90
5   29  Smith    4.60     30
6   35   Jack    3.80     70

In [382]:
data.groupby(['Age'])['Score'].sum()

Age
24     50
25    100
26     20
29     30
30     90
32     40
35     70
Name: Score, dtype: int64

In [383]:
data.groupby(['Age'])['Rating'].sum()

Age
24    3.98
25    4.23
26    3.24
29    4.60
30    3.20
32    2.56
35    3.80
Name: Rating, dtype: float64

In [384]:
data.groupby(['Age'])['Rating'].min().reset_index()

   Age  Rating
0   24    3.98
1   25    4.23
2   26    3.24
3   29    4.60
4   30    3.20
5   32    2.56
6   35    3.80

In [385]:
data.groupby(['Age'])['Score','Rating'].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

     Score  Rating
Age
24       1       1
25       1       1
26       1       1
29       1       1
30       1       1
32       1       1
35       1       1

In [386]:
data.groupby(['Age'])['Score','Rating'].agg([np.mean,np.median]).reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

  Age  Score        Rating
        mean median   mean median
0  24   50.0   50.0   3.98   3.98
1  25  100.0  100.0   4.23   4.23
2  26   20.0   20.0   3.24   3.24
3  29   30.0   30.0   4.60   4.60
4  30   90.0   90.0   3.20   3.20
5  32   40.0   40.0   2.56   2.56
6  35   70.0   70.0   3.80   3.80

### Merge ==> Join Operations

In [387]:
dict3={'name':['Alex','Amy','Allen','Alice','Ayoung'],
       'id':[1,2,3,4,5],
      'subject_id':['sub1','sub2','sub4','sub6','sub5']}
data_left= pd.DataFrame(dict3)
data_left

     name  id subject_id
0    Alex   1       sub1
1     Amy   2       sub2
2   Allen   3       sub4
3   Alice   4       sub6
4  Ayoung   5       sub5

In [388]:
dict3={'name':['Billy','Brain','Bran','Bryce','Betty'],
       'id':[1,2,3,6,7],
      'subject_id':['sub1','sub2','sub4','sub6','sub5']}
data_right= pd.DataFrame(dict3)
data_right

    name  id subject_id
0  Billy   1       sub1
1  Brain   2       sub2
2   Bran   3       sub4
3  Bryce   6       sub6
4  Betty   7       sub5

In [389]:
pd.merge(data_left,data_right, on=['id','subject_id'],validate='one_to_one')

  name_x  id subject_id name_y
0   Alex   1       sub1  Billy
1    Amy   2       sub2  Brain
2  Allen   3       sub4   Bran

In [390]:
pd.merge(data_left,data_right, on=['id'],how ='outer')

   name_x  id subject_id_x name_y subject_id_y
0    Alex   1         sub1  Billy         sub1
1     Amy   2         sub2  Brain         sub2
2   Allen   3         sub4   Bran         sub4
3   Alice   4         sub6    NaN          NaN
4  Ayoung   5         sub5    NaN          NaN
5     NaN   6          NaN  Bryce         sub6
6     NaN   7          NaN  Betty         sub5

In [392]:
pd.concat([data_left,data_right])

     name  id subject_id
0    Alex   1       sub1
1     Amy   2       sub2
2   Allen   3       sub4
3   Alice   4       sub6
4  Ayoung   5       sub5
0   Billy   1       sub1
1   Brain   2       sub2
2    Bran   3       sub4
3   Bryce   6       sub6
4   Betty   7       sub5

In [393]:
pd.concat([data_left,data_right],ignore_index=True)

     name  id subject_id
0    Alex   1       sub1
1     Amy   2       sub2
2   Allen   3       sub4
3   Alice   4       sub6
4  Ayoung   5       sub5
5   Billy   1       sub1
6   Brain   2       sub2
7    Bran   3       sub4
8   Bryce   6       sub6
9   Betty   7       sub5