<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Pandas_learnings_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

### Creating a Pandas series

In [10]:
a = np.array([1,2,3,4,5])
s = pd.Series(a)
type(s)

pandas.core.series.Series

### Length of series

In [6]:
len(s)

5

### Series Indexing

In [11]:
dict_data = {1:'value1',2:'value2',3:'value3'}
s = pd.Series(dict_data) # Dict keys are converting in to pandas index
s

1    value1
2    value2
3    value3
dtype: object

In [8]:
s1 = pd.Series(dict_data,index=[3,2,1])  # Ordering gets changed using index
s1

3    value3
2    value2
1    value1
dtype: object

### Series - Slicing

In [9]:
print(s[:3])
print(s[:2])

1    value1
2    value2
3    value3
dtype: object
1    value1
2    value2
dtype: object