<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Python_Programming3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Global variables

In [ ]:
## GLOBAL VARIABLE
c=100

def function():
  ## LOCAL VARIABLE
  d=50
  print("INSIDE  FUNCTION :",d)

function()
print("OUTSIDE  FUNCTION :",d)

INSIDE  FUNCTION : 50

NameError: ignored

### Inside a function , if global variable is used (just accessing existing value) , we can simply use the variable.

### If we want to modify and preserve state of global variable , need to declare as "global x" , before accessing and modifying it.

In [ ]:
x = 20
y=15

def function3():
  y =30
  global x
  x=5*x
  print("INSIDE FUNCTION - LOCAL SCOPE IS HAVING PRIORITY ",y)
  print("INSIDE FUNCTION - ACCESSING AND MODIFYING A GLOBAL VARIABLE ",x)


function3()
print("OUTSIDE FUNCTION - GLOBAL SCOPE IS HAVING PRIORITY AND PRESERVE CHANGES",x)

INSIDE FUNCTION - LOCAL SCOPE IS HAVING PRIORITY  30
INSIDE FUNCTION - ACCESSING AND MODIFYING A GLOBAL VARIABLE  100
OUTSIDE FUNCTION - GLOBAL SCOPE IS HAVING PRIORITY AND PRESERVE CHANGES 100

### NESTED INDEXING

In [ ]:
nested_list = [1,2,[3,4],[5.5,6.6],['seven','eight']]
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight']]

In [ ]:
nested_list[3][0]

5.5

In [ ]:
nested_list[-2][-1]

6.6

In [ ]:
nested_list.append(5)
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5]

In [ ]:
nested_list.extend(range(8,10,1))
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5, 8, 9]

In [ ]:
nested_list.insert(-2,0)
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5, 0, 8, 9]

### del nested_list[2] - used to delete contents in nested list

In [ ]:
del nested_list[2]

In [ ]:
nested_list

[1, 2, [5.5, 6.6], ['seven', 'eight'], 5, 0, 8, 9]

### LIST CONCATENATION

In [ ]:
list_1=['S','A','M']
list_2=['S','A','M']

print(list_1+list_2)
print(list_1*5)

['S', 'A', 'M', 'S', 'A', 'M']
['S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M']

### remove() and pop()

In [ ]:
data= 'DATASCIENCE'
data_array=list(data)
data_array

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [ ]:
data_array.remove('E')
data_array.pop()
data_array

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'C']

In [ ]:
empty_list=list()

for i in range(0,10):
  empty_list.append(i*i)

empty_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### LIST COMPREHENSION IMPLEMENTATION OF SAME LOGIC

In [ ]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i for i in range(100) if (i%2==0 and i%5==0) ]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
["EVEN" if i%2==0 else "ODD" for i in range(10)]

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

### ENUMERATE

In [ ]:
x1=['Data','Functions','Stats']
list(enumerate(x1,1))

[(1, 'Data'), (2, 'Functions'), (3, 'Stats')]

In [ ]:
list(enumerate(x1,50))

[(50, 'Data'), (51, 'Functions'), (52, 'Stats')]

### TUPLE OPERATIONS

In [ ]:
tuple_data=3,5.5,'nine'
type(tuple_data)

tuple

### TUPLE UNPACKING

In [ ]:
a,b,c =tuple_data
print(a)
print(b)
print(c)

3
5.5
nine

#### tuple1=('stringdata')
#### print(type(tuple1)) --- Returns String

#### tuple2=('stringdata','stringdata')
#### print(type(tuple2)) --- Returns Tuple 

#### tuple2=('stringdata','stringdata',)
#### print(type(tuple2)) --- Returns Tuple

In [ ]:
tuple1=('stringdata')
print(type(tuple1))

tuple2=('stringdata','stringdata')
print(type(tuple2))

tuple3=('stringdata',)
print(type(tuple2))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

### Changing a tuple - Exceptions

In [ ]:
tuple_data=(1,2,[3,4],[5.5,6.6],['seven','eight'])
tuple_data

(1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'])

### Reassigment is made as possible in Tuple , by having tuple(list[ ])

In [ ]:
|tuple_data[2][0]=100  
tuple_data

(1, 2, [100, 4], [5.5, 6.6], ['seven', 'eight'])

### Tuple can be placed inside a set

In [ ]:
my_set1= {1.0,"Hi",(2,5,8)} 
my_set1

{(2, 5, 8), 1.0, 'Hi'}

### List cannot be placed inside a set , throws a ERROR

In [ ]:
my_set2= {1.0,"Hi",[2,5,8]} 
my_set2

TypeError: ignored

In [ ]:
my_set1={1,2,3,4,5}
print(my_set1)
my_set1.discard(3)
print(my_set1)
my_set1.remove(2)
print(my_set1)

my_set1.discard(100) ## Doesnot Throws an error if element not present in SET
print(my_set1)

my_set1.remove(100)
print(my_set1) ## Throws an error if element not present in SET

{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 4, 5}
{1, 4, 5}

KeyError: ignored

### Iterators

In [15]:
list_data = [10,20,30,40,50]

my_iterator= iter(list_data)

while my_iterator:
  try:
    print(next(my_iterator))
  except StopIteration:
    break

10
20
30
40
50

### GENERATORS

In [60]:
def generator_fun(n):
  for i in range(n):
    try:
      yield i
    except StopIteration:
      break

var1 = generator_fun(3)
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))

0
1
2

StopIteration: ignored

In [64]:
string_data = 'DATASCIENCE'

def generator_fun(n):
  for i in range(-1,(len(string_data)*-1)-1,-1):
      yield string_data[i]

for i in generator_fun(string_data):
  print(type(i))
  print((i))

<class 'str'>
E
<class 'str'>
C
<class 'str'>
N
<class 'str'>
E
<class 'str'>
I
<class 'str'>
C
<class 'str'>
S
<class 'str'>
A
<class 'str'>
T
<class 'str'>
A
<class 'str'>
D

In [150]:
string_data = 'SCIENCE'

def generator_fun(n):
  for i in range(-1,(len(string_data)*-1)-1,-1):
      yield string_data[i]

for i in generator_fun(string_data):
  print(type(i))
  print((i))

<class 'str'>
E
<class 'str'>
C
<class 'str'>
N
<class 'str'>
E
<class 'str'>
I
<class 'str'>
C
<class 'str'>
S

In [154]:
def func_sum(l):
  yield sum(i for i in l)

def func_min(l):
  yield min(i for i in l)

def func_max(l):
  yield max(i for i in l)

def func_square(l):
  yield (i*i for i in l)

num_list=[1,2,3,4,5]

#print(func_min(num_list))
#print(func_square(num_list))

sum(func_min(func_max(num_list)))

min(func_sum(func_square(num_list)))

TypeError: ignored

### CLOSURES

In [146]:
def outer_func(arg):
  var3=5
  def inner_func():
    var1= arg*5 + var3
    #print(var1)
    return var1
  return inner_func

In [147]:
func_ret = outer_func(10)
func_ret()

55

### DECORATORS

In [164]:
def func1(i):
  return (i**2)

def func2(i):
  return (i**3)

def func3(f,n):
  return f(n)

func3(func1,10)

100

In [165]:
func3(func2,5)

125

In [190]:

def decorating_func(f):
  def nested_func_1(a,b):
    print("VALIDATION 1 - DIVIDE BY ZERO CHECK",a,b)
    if b==0:
      print('DIVIDE BY ZERO CHECK - FAILS - CANNOT DIVIDE')
      return
    else:
      print("DIVIDE BY ZERO CHECK PASSED",a,b)
      return nested_func_2(a,b)

  def nested_func_2(a,b):
    print("VALIDATION 2 - NEGATIVE VALUE CHECK",a,b)
    if a>0 and b>0:
      print("NEGATIVE VALUE CHECK PASSED",a,b)
    else:
      print("NEGATIVE VALUE CHECK FAILS",a,b)
      return
    return f(a,b)

  return nested_func_1

@decorating_func
def ordinary_func(a,b):
  print("Inside ordinary function")
  return a/b

ordinary_func(64,8)

VALIDATION 1 - DIVIDE BY ZERO CHECK 64 8
DIVIDE BY ZERO CHECK PASSED 64 8
VALIDATION 2 - NEGATIVE VALUE CHECK 64 8
NEGATIVE VALUE CHECK PASSED 64 8
Inside ordinary function

8.0