<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Python_Programming3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Global variables

In [30]:
## GLOBAL VARIABLE
c=100

def function():
  ## LOCAL VARIABLE
  d=50
  print("INSIDE  FUNCTION :",d)

function()
print("OUTSIDE  FUNCTION :",d)

INSIDE  FUNCTION : 50

NameError: ignored

### Inside a function , if global variable is used (just accessing existing value) , we can simply use the variable.

### If we want to modify and preserve state of global variable , need to declare as "global x" , before accessing and modifying it.

In [29]:
x = 20
y=15

def function3():
  y =30
  global x
  x=5*x
  print("INSIDE FUNCTION - LOCAL SCOPE IS HAVING PRIORITY ",y)
  print("INSIDE FUNCTION - ACCESSING AND MODIFYING A GLOBAL VARIABLE ",x)


function3()
print("OUTSIDE FUNCTION - GLOBAL SCOPE IS HAVING PRIORITY AND PRESERVE CHANGES",x)

INSIDE FUNCTION - LOCAL SCOPE IS HAVING PRIORITY  30
INSIDE FUNCTION - ACCESSING AND MODIFYING A GLOBAL VARIABLE  100
OUTSIDE FUNCTION - GLOBAL SCOPE IS HAVING PRIORITY AND PRESERVE CHANGES 100

### NESTED INDEXING

In [93]:
nested_list = [1,2,[3,4],[5.5,6.6],['seven','eight']]
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight']]

In [53]:
nested_list[3][0]

5.5

In [54]:
nested_list[-2][-1]

6.6

In [94]:
nested_list.append(5)
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5]

In [95]:
nested_list.extend(range(8,10,1))
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5, 8, 9]

In [96]:
nested_list.insert(-2,0)
nested_list

[1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'], 5, 0, 8, 9]

### del nested_list[2] - used to delete contents in nested list

In [101]:
del nested_list[2]

In [102]:
nested_list

[1, 2, [5.5, 6.6], ['seven', 'eight'], 5, 0, 8, 9]

### LIST CONCATENATION

In [108]:
list_1=['S','A','M']
list_2=['S','A','M']

print(list_1+list_2)
print(list_1*5)

['S', 'A', 'M', 'S', 'A', 'M']
['S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M', 'S', 'A', 'M']

### remove() and pop()

In [119]:
data= 'DATASCIENCE'
data_array=list(data)
data_array

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [120]:
data_array.remove('E')
data_array.pop()
data_array

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'C']

In [124]:
empty_list=list()

for i in range(0,10):
  empty_list.append(i*i)

empty_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### LIST COMPREHENSION IMPLEMENTATION OF SAME LOGIC

In [130]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
[i for i in range(100) if (i%2==0 and i%5==0) ]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [135]:
["EVEN" if i%2==0 else "ODD" for i in range(10)]

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

### ENUMERATE

In [140]:
x1=['Data','Functions','Stats']
list(enumerate(x1,1))

[(1, 'Data'), (2, 'Functions'), (3, 'Stats')]

In [141]:
list(enumerate(x1,50))

[(50, 'Data'), (51, 'Functions'), (52, 'Stats')]

### TUPLE OPERATIONS

In [146]:
tuple_data=3,5.5,'nine'
type(tuple_data)

tuple

### TUPLE UNPACKING

In [152]:
a,b,c =tuple_data
print(a)
print(b)
print(c)

3
5.5
nine

#### tuple1=('stringdata')
#### print(type(tuple1)) --- Returns String

#### tuple2=('stringdata','stringdata')
#### print(type(tuple2)) --- Returns Tuple 

#### tuple2=('stringdata','stringdata',)
#### print(type(tuple2)) --- Returns Tuple

In [159]:
tuple1=('stringdata')
print(type(tuple1))

tuple2=('stringdata','stringdata')
print(type(tuple2))

tuple3=('stringdata',)
print(type(tuple2))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

### Changing a tuple - Exceptions

In [172]:
tuple_data=(1,2,[3,4],[5.5,6.6],['seven','eight'])
tuple_data

(1, 2, [3, 4], [5.5, 6.6], ['seven', 'eight'])

### Reassigment is made as possible in Tuple , by having tuple(list[ ])

In [173]:
|tuple_data[2][0]=100  
tuple_data

(1, 2, [100, 4], [5.5, 6.6], ['seven', 'eight'])

### Tuple can be placed inside a set

In [178]:
my_set1= {1.0,"Hi",(2,5,8)} 
my_set1

{(2, 5, 8), 1.0, 'Hi'}

### List cannot be placed inside a set , throws a ERROR

In [176]:
my_set2= {1.0,"Hi",[2,5,8]} 
my_set2

TypeError: ignored

In [187]:
my_set1={1,2,3,4,5}
print(my_set1)
my_set1.discard(3)
print(my_set1)
my_set1.remove(2)
print(my_set1)

my_set1.discard(100) ## Doesnot Throws an error if element not present in SET
print(my_set1)

my_set1.remove(100)
print(my_set1) ## Throws an error if element not present in SET

{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 4, 5}
{1, 4, 5}

KeyError: ignored

### Iterators

In [196]:
list_data = [10,20,30,40,50]

my_iterator= iter(list_data)

while my_iterator:
  try:
    print(next(my_iterator))
  except StopIteration:
    break

10
20
30
40
50