<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Python_basics_part1_assignment_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Create a file calc.py which has following functions
    a.	Function to find the factorial of a number
    b.	Function to convert degree to Fahrenheit

Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from <module> import <functions> statement to import the functions from the calc module

In [100]:

def factorial(n):
  if n==1:
    return 1
  return n* factorial(n-1)

def conversion(t):return t*(9/5)+32

print(factorial(6))
print("{0:.2f}".format(conversion(6)))

720
42.80
15511210043330985984000000

2.	Implement a simple generator for Fibonacci series

In [201]:
def fibonocci_generator(n):
  a,b=0,1
  for i in range(0,n):
      yield(a)
      a,b=b,a+b

In [206]:
for i in fibonocci_generator(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [32]:
class reverse_iterator:

  def __init__(self, seq):
        self.seq = seq
  
  def __iter__(self):
    self.length = len(self.seq)-1
    return self
        
  def __next__(self):
    # Current value
    l = self.length

    # Stop iteration if limit is reached
    if l<=-1:
        raise StopIteration
 
    # Else increment and return old value
    self.length = self.length - 1
    return self.seq[l]

In [34]:
data= "DATA SCIENCE"
for i in reverse_iterator(data):
  print(i)

E
C
N
E
I
C
S

A
T
A
D

4.	Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [39]:
def decorating_func(f): 
  def nested(bp,hra,sa):
    tax = (bp * 30)/100
    bp=bp+tax
    return f(bp,hra,sa)

  return nested

@decorating_func
def salary(bp,hra,sa):
  return bp+hra+sa

salary(1000,50,50)

1400.0

5.	Write 3 examples on possible methods to changing a tuple

### Reassigment is made as possible in Tuple , by having tuple(list[ ])

METHOD 1

In [40]:
tuple_data = ([10,20,30],[40,50,60])
print(type(tuple_data))

<class 'tuple'>

In [46]:
tuple_data[0][1] = 1000
tuple_data

([10, 1000, 30], [40, 50, 60])

METHOD 2

In [53]:
tuple_data = (10,20,30,40,50,60)
list_data = list(tuple_data)
list_data.remove(10)
print(list_data)

[20, 30, 40, 50, 60]

METHOD 3

In [55]:
tuple_data = (10,20,30,40,50,60)
list_data = list(tuple_data)
list_data.append(333)
print(list_data)

[10, 20, 30, 40, 50, 60, 333]