<a href="https://colab.research.google.com/github/venkatesh-manikumar/Python_learnings/blob/main/Python_programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

### DATATYPE CONVERSION

In [5]:
float(25)
int(30.25)
a='10.5'
a

'10.5'

In [6]:
str(20)

'20'

### LIST TO SET CONVERSION

List is Mutable

In [62]:
num_list=[1,2,3,4,5,6,6,7,7]
num_set=set(num_list)
num_set
num_list[1]=44 # Reassignment is possible in LIST

num_list

[1, 44, 3, 4, 5, 6, 6, 7, 7]

#### SET TO TUPLE CONVERSION

In [25]:
num_tuple=tuple(num_set)
num_tuple

(1, 2, 3, 4, 5, 6, 7)

Tuple is Immutable

In [35]:
num_tuple=(1,1,2,2,3,3,0)
num_tuple=(1,1,2,2,3,3,0,10)
num_tuple[1]=100 # Reassignment is not possible in TUPLE
num_tuple

TypeError: ignored

In [24]:
list('RAM')

['R', 'A', 'M']

In [61]:
print(dict([["name","Roll"],[10,20]]))

{'name': 'Roll', 10: 20}

### TYPE CONVERSION

1.   Implicit Conversion
2.   Explicit Conversion

In [50]:
int_var=100
float_var=200.56

result=int_var+float_var

print('Implicit conversion',result,type(result))

Implicit conversion 300.56 <class 'float'>

In [51]:
int_var=100
string_var="200.56"

result=int_var+float(string_var)

print('Implicit conversion',result,type(result))

Implicit conversion 300.56 <class 'float'>

### Input

In [69]:
num_1=int(input("Enter the number_1 : "))
num_2=int(input("Enter the number_2 : "))

print(num_1+num_2)

Enter the number_1 : 10
Enter the number_2 : 20
30

In [79]:
int_input=100
str_input=" ABC "

str(int_input) + str_input

'100 ABC '

In [80]:
a= eval('str(int_input) + str_input')
a

'100 ABC '

### OPERATORS

In [91]:
x = 201
y = 4.0

print( x + y)
print( x - y)
print( x * y)
print( x / y)
print( x // y)
print( x % y)
print( x ** y)
print(round(y))

205.0
197.0
804.0
50.25
50.0
1.0
1632240801.0
4

In [92]:
a = True
b = False

print(a and b)
print(a or b)
print( not a)

False
True
False

### IS OPERATOR

In [93]:
x1= 5
y1= 5

print(x1 is y1 , id(x1),id(y1))

True 93866057476736 93866057476736

In [96]:
x2= "STR"
y2= "STR"

print(x2 is y2 , id(x2),id(y2))

True 140202835166192 140202835166192

In [101]:
x3= [1,2,3]
y3= [1,2,3]

print(x3 is y3 , id(x3),id(y3))



print(x3[0] is y3[0] ,id(x3[0]),id(y3[0]))

False 140202835014512 140202834913952
True 93866057476608 93866057476608

### MEMBERSHIP OPERATORS

In [109]:
y = {10:"A",20:"B",30:"C"}

print( 10 in y)
print( 20 in y.keys())
print( "A" in y.values())

True
True
True

### IF STATEMETNS

In [114]:
num = int(input("ENTER THE VALUE : "))

if  num > 0:
  if num == 0:
      print('Neutral')
  print('Positive')
else:
  print('Negative')

ENTER THE VALUE : 20
Positive

### LOOPS

In [6]:
list([1,2,3])

result_list=list({1,1,2,2,3})
result_list=list({10:'value1',20:'value2'})

result_list

[10, 20]

## TypeError: 'list' object is not callable

list=[8,9,10] # NOT RECOMMENDED AS IT IMPACTS BELOW NORMAL CALL , AS 'list' is considered as variable

result_list=list({1,1,2,2,3})

In [9]:
## TypeError: 'list' object is not callable

list=[8,9,10] # NOT RECOMMENDED AS IT IMPACTS BELOW NORMAL CALL , AS 'list' is considered as variable
list

result_list=list({1,1,2,2,3})

TypeError: ignored